<launch>
    <arg name="is_sim" default="" />
    <node pkg="path_executor" type="pathExecutor" name="pathExecutor" output="screen">
        <rosparam file="$(find path_executor)/config/pathExecutor_robot1.yaml" command="load" />
        <param name="pose_type" value="0" if="$(arg is_sim)" />
        <param name="pose_type" value="1" unless="$(arg is_sim)" />
    </node>
</launch>