<launch>
    <arg name="is_sim" default="true" />
    <include file="$(find navigation_run)/launch/basic.launch">
        <arg name="is_sim" value="true" if="$(arg is_sim)"/>
        <arg name="is_sim" value="false" unless="$(arg is_sim)"/>
        <arg name="is_robot1" value="true" />
    </include>

    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/robot1/cmd_ve/linear/x:y" if="$(arg is_sim)" /> -->
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/cmd_ve/linear/x:y" unless="$(arg is_sim)" /> -->
</launch>
