<launch>
    <!-- Simulation -->
    <arg name="is_sim" default="true"/>
    <!-- ekf -->
    <arg name="is_ekf" default="false"/>
    <!-- Run on R2 or local ? -->
    <arg name="is_R2" default="true"/>
    <!-- Open communication -->
    <arg name="is_robot_integral" default="true"/>
    <arg name="is_robot_integral" value="false" if="is_sim"/>
    <arg name="is_robot_integral" value="false" if="is_ekf"/>
    <!-- Robot_integral -->
    <!-- <arg name="is_sim" default="false"/>
    <arg name="is_ekf" default="false"/> -->
    <!-- Robot_ekf -->
    <!-- <arg name="is_sim" default="false"/>
    <arg name="is_ekf" default="true"/> -->

    <!-- Open RVIZ -->
    <include file="$(find navigation_run)/launch/open_rviz.launch" unless="is_R2"/>

    <!-- Start communication -->
    <include file="$(find navigation_run)/launch/commu.launch" if="is_robot_integral"/>

    <include file="$(find navigation_run)/launch/basic.launch">
        <arg name="is_sim" value="true" if="$(arg is_sim)"/>
        <arg name="is_sim" value="false" unless="$(arg is_sim)"/>
        <arg name="is_ekf" value="true" if="$(arg is_ekf)"/>
        <arg name="is_ekf" value="false" unless="$(arg is_ekf)"/>
        <arg name="is_robot1" value="true"/>
    </include>

    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/robot1/cmd_ve/linear/x:y" if="$(arg is_sim)" /> -->
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/cmd_ve/linear/x:y" unless="$(arg is_sim)" /> -->
</launch>
